h1 {
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: #704214;
	position: relative;
}
			
h2 {
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: #704214;
	position: relative;
	margin-top: 100px
}

.popup {width: 150px; height: 200px; cursor:pointer;}
.popup img {width: 150px; height: 200px; border:0; border-radius: 10px;	}


.popup img:focus {
	width: 220px; height: 300px;
	border: 0;
	outline: none;
	margin-top: -20px;
	margin-left: -35px;
	-webkit-box-shadow: 2px 3px 5px #6E6E6E;
	box-shadow: 2px 3px 5px #6E6E6E ;
	border-radius: 10px 10px 0px 0px;
}	
			
.popup .details {
	display: none;
	background-color:#c0c0c0;
	width: 220px;
	margin-top: -4px;
	margin-left: -35px;
	-webkit-box-shadow: 2px 3px 5px #6E6E6E;
	box-shadow: 2px 3px 5px #6E6E6E ;
	border-radius: 0px 0px 10px 10px;
	word-break: break-all;
	word-wrap: break-word;
	lang: ru;
	text-align: center;
	font-size: 15pt;
	font-family: Calibri;
	font-weight: bold;
}
			
.flexbox {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 150px;
}

.flexbox > div {padding: 3px;}
			
@media (max-width: 600px) {
	h1 {
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: #704214;
	position: relative;
	}
	h2 {
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: #704214;
	position: relative;
	margin-top: 150px
	}
}
			