#gallery{
    display: flex;
    /* ex-wrap: wrap; */
    /* verflow: scroll; */
    width: 1000%;
	justify-content: left;
	background-color: cornsilk;
	/* justify-content: space-between; */
	overflow-y: auto;
	overflow-x: hidden;
	
	/* ********плавно перемещение картинки********* */
	/* background: pink; */
	/* width: 896px; */
	position: relative;
	left: 0;
	transition: all ease 1s;
}

#gallery > div {
    padding: 2px;
}

/* на автослайдер */

#slider {
	width: auto;
	/* height: 150px;    рамка*/
	/* border: 5px solid black; */
	/* margin: 50px auto;  // отступ сверху; */
	overflow: hidden;
	line-height: 0px;   //высота от картинки до букв;
	text-align: center;
	overflow-x: hidden;
}


.figure img{width: 250px; height: 250px; border-radius: 10px;
	-webkit-transition: all 0.3s ease-out; /* заставляем плавно изменять css св-ва */
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	//height: 188px;
	//width: 177px;
	overflow: hidden;
	border: 5px solid #fff;
	border: 5px solid #eee\9;
	border: 5px solid #eee\9;
	-webkit-box-shadow: 2px 3px 5px #6E6E6E;
	box-shadow: 2px 3px 5px #6E6E6E;
	float: left;
	cursor: pointer;
}

/* МЕНЮ */

.header { text-align: center;
		position: relative;
}


nav ul { 
	padding: 0;
	text-align: center;
	/* position: relative; */
	/* display: inline; */
}

nav li {
	list-style: none;
	display: inline;
	font-size: 24px;
	margin-right: 8px;
	text-align: center;
	/* position: relative; */
}



/* Стили документа HTML */

h1 {
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: #704214;
	position: relative;
}

.video {
	position: relative;
	width: 70%;
	height: 520px;
	controls: controls;
}
.video iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


/* контакты */	

.contacts img { 
	position: relative;
	display: inline-block;
	width: 200px;
	height: 80px;
	border-radius: 10px;
	overflow: hidden;
	margin-left: auto;
	margin-top: 0px;
}

nav img {display: none;}
@media (max-width: 600px) {
	.header nav {position: absolute;
	top:-50px;
	left: 5px;
	}
	.header nav img {display: block;}
	
	.header nav ul {
	display: none;
	background-color: white;
	margin-top: -10px;
	padding: 20px;
	text-align: left;
	position: absolute;
	z-index: 2;
	border-radius:15px;
	}
	.header nav:hover ul {display: block;}
	nav li {display: block;
	text-align: left
	}
	
	
	.figure img{width: 100px; height: 100px; border-radius: 5px;
	-webkit-transition: all 0.3s ease-out; /* заставляем плавно изменять css св-ва */
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	//height: 188px;
	//width: 177px;
	overflow: hidden;
	border: 5px solid #fff;
	border: 5px solid #eee\9;
	border: 5px solid #eee\9;
	-webkit-box-shadow: 2px 3px 5px #6E6E6E;
	box-shadow: 2px 3px 5px #6E6E6E;
	float: left;
	cursor: pointer;
	}
	
	h1 {
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: #704214;
	position: relative;
	}
	
	.contacts img { 
	position: relative;
	display: inline-block;
	width: 100px;
	height: 40px;
	border-radius: 10px;
	overflow: hidden;
	margin-left: auto;
	margin-top: 0px;
	}
	
	.contacts nav li {
	list-style: none;
	display: inline-block;
	text-align: center;
	position: relative;	
	}
	
	.video {
	position: relative;
	width: 100%;
	height: 200px;
	controls: controls;
	}
}
