#gallery{
    display: flex;
    flex-wrap: wrap;
    /* overflow: scroll; */
    width: auto;
    background-color: cornsilk;
	justify-content: center;
	text-align: center;
}

#gallery > div {
    padding: 5px;
}

.figure img{width: 200px; height: 200px; border-radius: 10%;
-webkit-transition: all 0.3s ease-out; /* заставляем плавно изменять css св-ва */
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
overflow: hidden;
border: 5px solid #fff;
border: 5px solid #eee\9;
border: 5px solid #eee\9;
-webkit-box-shadow: 2px 3px 5px #6E6E6E;
box-shadow: 2px 3px 5px #6E6E6E;
float: left;
cursor: pointer;
margin-top: auto;
}

	h1 {
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: #704214;
	margin-bottom: 0px;
	position: relative;
}
